.footer {
    background-color: black;
    color: white;

}

.footer__container {
    padding: 2rem 0 5.5rem;
}

.footer__title {
    color: white;
    display: flex;
    justify-content: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    color: white;
}

.footer__social-link {
    color: white;
    opacity: 0.8;
    font-size: 1.25rem;
    padding: 0.4rem;
    border: 0.5rem;
    display: inline-flex;
}

.footer__social-link:hover {
    opacity: 1;
}

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 567px) {}

/* For small devices */
@media screen and (max-width: 350px) {}